**/*.DS_Store
**/*.log
**/*.md
**/._*
**/.dockerignore
**/.gitignore
**/Dockerfile
**/Thumbs.db
*.env.dist
*.sublime-project
*.sublime-workspace
.editorconfig
.env
.git/
.gitattributes
.gitmodules
docker-compose.override.*.yml.dist
docker-compose.override.yml
docker-compose.yml
docker-stack.*.yml
docker-stack.yml
docker/*/*.env.dist
docker/*/.env
