version: '3.2'

services:
  cadvisor:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M
        reservations:
          cpus: '0.10'
          memory: 64M
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    environment:
      - TERM
    networks:
      - default
    ports:
      - mode: host
        protocol: tcp
        published: 8080
        target: 8080
    restart: always

  docker-exporter:
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 6M
        reservations:
          cpus: '0.05'
          memory: 4M
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    env_file: ./docker/docker-exporter/.env
    environment:
      - TERM
    image: quay.io/tripviss/tripviss-monitoring:docker-exporter
    networks:
      - default
    restart: always

  grafana:
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 64M
        reservations:
          cpus: '0.50'
          memory: 32M
    env_file: ./docker/grafana/.env
    environment:
      - LETSENCRYPT_EMAIL=dev@tripviss.com
      - LETSENCRYPT_HOST=
      - TERM
      - VIRTUAL_HOST=status.tripviss.com
    networks:
      - default
      - tripvissnginxproxy_default
    restart: always
    volumes:
      - ./docker/grafana/data:/var/lib/grafana:rw

  node-exporter:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 32M
        reservations:
          cpus: '0.10'
          memory: 16M
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    environment:
      - TERM
    image: quay.io/tripviss/tripviss-monitoring:node-exporter
    networks:
      - default
    ports:
      - mode: host
        protocol: tcp
        published: 9100
        target: 9100
    restart: always

  prometheus:
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1G
        reservations:
          cpus: '0.50'
          memory: 128M
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    env_file: ./docker/prometheus/.env
    environment:
      - TERM
    image: quay.io/tripviss/tripviss-monitoring:prometheus
    networks:
      - default
    ports:
      - mode: host
        protocol: tcp
        published: 9090
        target: 9090
    restart: always
    volumes:
      # - ./docker/prometheus/confd:/usr/local/etc/confd:ro
      - ./docker/prometheus/data:/prometheus:rw

networks:
  default: {}
  tripvissnginxproxy_default:
    external: true
