global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

  external_labels:
    monitor: 'tripviss-monitor'

scrape_configs:
  - job_name: 'cadvisor'
    dns_sd_configs:
      - names: ['{{getv "/cadvisor/host"}}']
        type: 'A'
        port: {{getv "/cadvisor/port"}}

  - job_name: 'docker'
    dns_sd_configs:
      - names: ['{{getv "/docker/exporter/host"}}']
        type: 'A'
        port: {{getv "/docker/exporter/port"}}

  - job_name: 'node'
    dns_sd_configs:
      - names: ['{{getv "/node/exporter/host"}}']
        type: 'A'
        port: {{getv "/node/exporter/port"}}

  - job_name: 'prometheus'
    dns_sd_configs:
      - names: ['{{getv "/prometheus/host"}}']
        type: 'A'
        port: {{getv "/prometheus/port"}}
